
/* general rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 80%;
    margin: 10px auto;
    font-family: 'Montserrat', sans-serif;
}

#container::after{
    content: '';
    display: table;
    clear: both;
}

/* header style */

header {
    /* debug */
    /* background-color: rgb(215, 126, 224);
    height: 100px; */
}

header img {
    height: 80px;
    padding-right: 20px;
    border-right: 2px solid rgb(238,238,238);
    margin-bottom: 40px;
}

.nav_ul li {
    display: inline-block;
}

li a {
    text-decoration: none;
    margin-right: 20px;
    color: rgb(183, 183, 183);
    font-size: 16px;
    font-weight: 400;
}

/* main style */

/* jumbotron style */
#jumbotron {
    background-image: url('../img/banner.jpg');
    background-position: center;
    margin: 20px 0;
    width: 100%;
    height: 450px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    /* debug */
    /* background-color: rgb(223, 214, 134); */
    /* height: 300px; */
}
#transparency {
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
}

.text_positioning {
    max-width: 55%;
    position: absolute;
    bottom: 10%;
    left: 3%
}
#jumbotron h3 {
    font-size: 28px;
    font-weight: 400;
}

 #jumbotron h3, #jumbotron p {
     color: rgb(243, 243, 243);
 }

 .article_title {
     margin-bottom: 20px;
     /* debug */
     height: 100px;
     background-color: rgb(179, 206, 228);
 }

 /* float setup */
 #container{
     /* debug */
     background-color: rgb(58, 132, 247);
     width: 100%;
 }

 aside, article {
     float: left;
     margin-bottom: 20px;
     /* debug */
     height: 450px;
 }

 aside {
     width: 20%;
     /* debug */
     background-color: rgb(179, 206, 228);
 }
 article {
     margin: 0 2%;
     width: 56%;
     /* debug */
    background-color: rgb(179, 206, 228);
 }

 /* footer */

 footer {
     margin-top: 10px;
     /* debug */
     background-color: rgb(124, 23, 244);
     height: 80px;
 }




