/* general rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 80%;
    margin: 10px auto;
    font-family: 'Montserrat', sans-serif;
}

#container::after{
    content: '';
    display: table;
    clear: both;
}

/* header style */

header img {
    height: 80px;
    padding-right: 20px;
    border-right: 2px solid rgb(238,238,238);
    margin-bottom: 40px;
}

.nav_ul li {
    display: inline-block;
}

li a {
    text-decoration: none;
    margin-right: 20px;
    color: rgb(183, 183, 183);
    font-size: 16px;
    font-weight: 400;
}

.transparency {
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
}

/* main style */

    /* jumbotron style */
#jumbotron {
    background-image: url('../img/banner.jpg');
    background-position: center;
    margin: 30px 0;
    width: 100%;
    height: 450px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.text_positoning {
    max-width: 55%;
    position: absolute;
    bottom: 10%;
    left: 3%
}

#jumbotron h3 {
    font-size: 28px;
    font-weight: 400;
}

 #jumbotron h3, #jumbotron p {
     color: rgb(243, 243, 243);
 }

    /* article main title */
 .article_title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
 }

 .article_title p{
    font-size: 20px;
    font-weight: 400;
    color: rgb(160, 160, 160);
 }

    /* float setup */
 aside, article {
    float: left;
    margin-bottom: 20px;
}

 aside h4, article h4, aside p, article p {
    margin-top: 20px;
    color: rgb(138, 138, 138);
}

 aside {
    width: 20%;
}

 article {
    margin: 0 2%;
    width: 56%;
}

        /* float background images  */
.float_img {
    background-position: center;
    background-size: cover;
    height: 230px;
    border-radius: 10px;
    overflow: hidden;
}

.sxaside .float_img {
    background-image: url('../img/img-1.jpg');
}
article .float_img {
    background-image: url('../img/banner-2.jpg');
}
.dxaside .float_img {        
    background-image: url('../img/img-3.jpg');
}

 /* footer */
 footer {
     text-align: center;
     margin-top: 40px;
 }
 .red_hearts {
     color: red;
     font-size: 20px;
 }

